# AI datasets
ai-engine/dataset/
ai-engine/datasets/
datasets/
dataset/

# trained models
*.pt
models/

# uploads
uploads/
runs/

# python
venv/
__pycache__/

# node
node_modules/
dist/

# Replit
.local/
.replit
replit.md